{% include 'header.html' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{ client_id }}"></script>
</head>

<body style="display: center; justify-content: center; align-items: center; height: 100vh;">
    <div id="map" style="width:80%; height:400px; margin: 0 auto;"></div>
    <script>
        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.5112, 127.0981), // 잠실 롯데월드를 중심으로 하는 지도
            zoom: 15
        });

        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.5112, 127.0981),
            map: map
        });
    </script>
</body>

</html>

{% include 'footer.html' %}