.env
# 환경변수를 저장하는 파일이므로, 중요한 설정 정보(SECRET_KEY, X-NCP-APIGW-API-KEY-ID, X-NCP-APIGW-API-KEY)를 담고 있음. 이를 공개 리포지토리에 업로드하는 것은 보안상 위험함.

*.pyc
# 소스 코드가 아니므로 리포지토리에 저장할 필요가 없음.

__pycache__/
# 개발 환경에 종속적인 파일들이기 때문에 버전 관리할 필요가 없음.

db.sqlite3
# 개발 중인 데이터베이스를 공유하는 것은 데이터베이스의 구조를 공개하는 것이 될 수 있으며, 민감한 데이터가 노출될 위험도 있음.

media/
# 사용자가 업로드하는 파일을 저장하는 디렉토리. 이 파일들은 용량이 클 수 있고, 사용자의 개인 데이터를 포함할 수 있으므로 버전 관리에서 제외하는 것이 일반적.